<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="EmailFrom" value="v-viban@microsoft.com"/>
    <add key="EmailTo" value="v-viban@microsoft.com"/>
    <add key="EmailSubject" value="Jenkins-Wadi Service Status Report"/>
    <add key="UserName" value="redmond\daylight"/>
    <add key="Password" value="1WontMissY@uGuys"/>
    <add key="Services" value="Jenk,Wadi"/>
    <add key="Servers" value="SERVICEBUSBVTVM,SBSERVER01,SBSERVER02,SBSERVER008,SERVICEBUSVM"/>
  </appSettings>
</configuration>
